@import 'theme.less';
@import 'base.less';
@import 'auth.less';
@import 'landing.less';

.ml-auto {
    margin-left: auto;
}

.mr-auto {
    margin-right: auto;
}

.card {
    background: @white;
    box-sizing: 'border-box';
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.08),;
    border-radius: 8px;
}

html {
    height: 100%;

    body {
        height: 100%;
        margin: 0;
        background-repeat: no-repeat;
        background-attachment: fixed;
        font-family: Montserrat, sans-serif;
        padding-bottom: 100px;
    }
}

label {
    color: @dark-gray!important;
    text-transform: uppercase;
    font-size: 12px;
    letter-spacing: 0.6px;
}

textarea {
    border-radius: 4px!important;
    border: medium none!important;
    box-sizing: border-box;
    outline: currentcolor none medium;
    background-color: @light-gray!important;
    color:@dark-gray;
    line-height: 27px!important;
    padding: 10px;
}

input, textarea {
    &:extend(textarea);
    height: 48px;
}



.btn-primary {
    background-color: @purple!important;
    width: 100%;
    margin:10px 0;
    padding: 10px;

    &:hover, :focus {
        background-color: darken(@purple, 5%) !important;
    }
}

.btn-inline {
    color: @purple;
    padding-left: 4px;
}