@white: #FFFFFF;
@purple: #7662E7;
@gray: #A6A9AB;
@light-gray: #EFEFEF;
@black: #000000;
@peach: #FFBE93;
@dark-gray: #616B70;
@pink: #c840f5;

@font-face {
    font-family: 'Samarkan';
    src: url('../fonts/samarkan/SAMAN___.TTF');
}