<nav class="navbar navbar-expand-lg">
  <div class="container">

    <a class="navbar-brand" href="{{url_for('index.index') }}">hind</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  
  <div class="collapse navbar-collapse d-flex" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      {% if current_user.is_authenticated %}
        <li class="nav-item active">
          <a class="nav-link" href="{{url_for('index.index') }}">Feed</a>
        </li>
      {% endif %}
        <li class="nav-item active">
          <a class="nav-link" href="{{url_for('blogs.index') }}">Blogs</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="{{url_for('products.index') }}">Products</a>
        </li>
    </ul>
    <ul class="navbar-nav">
      {% if current_user.is_authenticated %}
        <li class="nav-item dropdown">
          <a class="nav-link" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
            aria-expanded="false">
            <i class="fas fa-plus"></i>
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="{{url_for('blogs.new') }}">Post a New Blog</a></li>
            <li><a class="dropdown-item" href="{{url_for('products.new') }}">Add a New Product</a></li>
          </ul>
        </li>

        <li class="nav-item active">
          <a class="nav-link" href="{{url_for('user.profile') }}">{{current_user.name}}</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="{{url_for('index.logout') }}">Logout</a>
        </li>
      {% else %}
        <li class="nav-item active">
          <a class="nav-link" href="{{url_for('index.login') }}">Login</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="{{url_for('index.signup') }}">Signup</a>
      {% endif %}
      </li>
    </ul>
  </div>  
</nav>
